<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Slider</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <div class="wrapper">
            <div class="imgBox">
                <img v-for="(path, i) in slides" :src="slides[i].immagine" class="unvisible"
                    :class="{ visible: (i == counter) }">
                <span v-for="(path, i) in slides" class="unvisible imageIndex" :class="{ visible: (i == counter) }">{{i+1}}</span>
            </div>
            <h1 v-for="(path, i) in slides" class="unvisible" :class="{ visible: (i == counter) }">
                {{slides[i].titolo}}</h1>
            <p v-for="(path, i) in slides" class="unvisible" :class="{ visible: (i == counter) }">
                {{slides[i].testo}}</p>
            <button @click="nextImg()" class="upBtn"><i class="fa-solid fa-angle-up"></i></button>
            <button @click="previousImg()" class="downBtn"><i class="fa-solid fa-angle-down"></i></button>
        </div>
    </div>

    <script src="main.js"></script>
</body>

</html>